extends templates/homepage

block content

    header
        .container.navbar-header
            a(href='/').logo
                img(src='img/logo.png', alt='logo.png', width='32')
                h5 rpabon

    main
        section.clouds.bg-element.pause
        section.info
        section.ground
            .street.bg-element.pause
            .bushes.bg-element.pause
            .front-lights.bg-element.pause
        #megaman

    footer
        .container
            p Ricardo Pabón
            p.footer__date
            p Check out this website in
                a(href='https://github.com/rpabon/static-website') githu
