    <header class="header-container">
        <a href="/" class="logo-block -header"><img src="images/logo.png" alt="logo.png" width="32" class="logoimage"></a>
        <div class="header-buttons">
            <button class="button-element -header">
                <span class="buttonicon fa fa-twitter"></span>
                <span class="buttontext">twitter</span>
            </button>
            <button class="button-element -header">
                <span class="buttonicon fa fa-linkedin"></span>
                <span class="buttontext">linkedin</span>
            </button>
            <button class="button-element -header">
                <span class="buttonicon fa fa-github"></span>
                <span class="buttontext">github</span>
            </button>
        </div>
    </header>
