html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $blue;
    background: -webkit-gradient(linear, left top, left bottom, from($blue), to($white));
    background: -webkit-linear-gradient(top, $blue, $white);
    background: -moz-linear-gradient(top, $blue, $white);
    background: -ms-linear-gradient(top, $blue, $white);
    background: -o-linear-gradient(top, $blue, $white);
}

header, footer {
    flex: none;
    padding: 10px 0;
}

main {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

#megaman,
.info { position: absolute; }

.clouds {
    background: url(../img/clouds@2x.png) repeat-x top center;
    height: 120px;
}

.bushes {
     background: url(../img/bushes@2x.png) repeat-x bottom center;
     height: 200px;
 }

.street {
    background: url(../img/street@2x.png) repeat-x bottom center;
    height: 200px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
