body {
  @include paragraph;
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: $text-color-default;
  background-color: $body-background-color;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
