@mixin paragraph {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

@mixin headlineBig {
  font-size: 34px;
  line-height: 40px;
}

@mixin headlineMedium {
  font-size: 24px;
  line-height: 38px;
}

@mixin headlineSmall {
  font-size: 20px;
  line-height: 24px;
}

@mixin bold-text {
  font-weight: 600;
}

@mixin light-text {
  font-weight: 300;
}

._bold-text {
  @include bold-text;
}

._light-text {
  @include light-text;
}

.headline-article {
  @include headlineBig;
  @include bold-text;
  color: $lightBlue;
  margin-bottom: 1.5em;
}
