@mixin paragraph {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

@mixin headlineBig {
  font-size: 34px;
  line-height: 40px;
}

@mixin headlineMedium {
  font-size: 24px;
  line-height: 38px;
}

@mixin headlineSmall {
  font-size: 20px;
  line-height: 24px;
}

._bold {
  font-weight: 600;
}

._light {
  font-weight: 300;
}
