.typo--headline--small {
  font-size: 24px;
  line-height: 32px;
}

.typo--headline--medium {
  font-size: 34px;
  line-height: 40px;
}

.typo--headline--big {
  font-size: 45px;
  line-height: 48px;
}

.typo--headline--huge {
  font-size: 56px;
  line-height: 1.35;
  letter-spacing: -.02em;
}
